@font-face
{
font-family: SourceHanSansCN-Medium;
src: url(./font-family/SourceHanSansCN-Medium.otf);
}
@font-face
{
font-family: SourceHanSansCN-Normal;
src: url(./font-family/SourceHanSansCN-Normal.otf);
}

body,html,
h1,
h2,
h3,
ul,
p,
label,div,ol,ul,h1,h2,h3,h4,h5,h6,header,nav,article,footer,dl,dd,dt,tr,th,td{
	margin: 0;
	padding: 0;
}

body *{
    font-family:SourceHanSansCN-Normal,SourceHanSansCN-Medium, 'microsoft yahei', Arial, Helvetica, sans-serif;
}
body{
    background:rgba(255,255,255,1);
}
li{
	list-style: none;
}

button,
input,
select{
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	outline: none;
}
select{
	appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner{
	padding: 0;
}

/* img{
	display: block;
	border: none;
} */

a,u{
	text-decoration: none;
}
a:hover{
    text-decoration:none;
}
b,
strong{
	font-weight: normal;
}
i,em{
	font-style: normal;
}
/*banner*/
.top-banner{
    width: 100%;
    height: 416px;
    padding-top: 120px;
    background-image: url(../images/aboutUs.jpg);
    -webkit-background-image: url(../images/aboutUs.jpg);
    -moz-background-image: url(../images/aboutUs.jpg);
    -ms-background-image: url(../images/aboutUs.jpg);
    background-repeat:no-repeat;
    text-align: center;

}
.top-banner div{
    height: 45px;
    color: #1C1C1C;
    width: 100%;
    font-size: 48px;
    font-weight:500;
    line-height: 45px;
    font-family:SourceHanSansCN-Medium;
}
.top-banner p{
    height: 24px;
    font-size: 16px;
    margin-top: 24px;
    color:rgba(28,28,28,1);
    line-height: 24px;
    font-family:SourceHanSansCN-Regular;
    opacity:0.7;
}
/*company*/
.company-intr{
    width: 100%;
    height: 304px;
    text-align: center;
    padding-top: 62px;
}
.company-intr div{
    color: #333333;
    font-size: 40px;
    font-weight:500;
    font-family:SourceHanSansCN-Medium;
}
.company-intr p{
    height:76px;
    width:1152px;
    margin: 0 auto;
    font-size:16px;
    color:rgba(102,102,102,1);
    line-height:30px;
    margin-top:39px; 
    text-align: left;
    font-family:SourceHanSansCN-Regular;
}
/*cooperation*/
.cooperation{
    width: 100%;
    height: 680px;
    padding-top: 64px;
}
.cooperation div{
    width: 100%;
    height:40px;
    font-size:40px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    line-height: 40px;
    text-align: center;
}
.cooperation ul{
    width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    height: 450px;
}
.cooperation ul:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.cooperation ul li{
    width: 240px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    float: left;
}
.cooperation ul li:hover{
    box-shadow:rgba(142,144,148,0.3) 0px 0px 12px  ;
    -webkit-box-shadow:  rgba(142,144,148,0.3) 0px 0px 12px ;
    -ms-box-shadow: rgba(142,144,148,0.3) 0px 0px 12px ;
    -moz-box-shadow:  rgba(142,144,148,0.3) 0px 0px 12px  ;
}
/*servers*/
.servers {
    width: 100%;
    height: 620px;
    padding-top: 64px;
}
.servers-name{
    width: 100%;
    height:40px;
    font-size:40px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    line-height: 40px;
    text-align: center;
}
.servers ul{
    width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    height: 300px;
}
.servers ul:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.servers ul li{
    float: left;
    width: 380px;
    height: 380px;
    background:rgba(245,248,255,1);
    padding-top: 64px;
    text-align: center;

}
.servers ul li:nth-child(2){
    margin: 0 30px;
}
.servers ul li:hover{
    box-shadow:rgba(142,144,148,0.3) 0px 0px 12px  ;
    -webkit-box-shadow:  rgba(142,144,148,0.3) 0px 0px 12px ;
    -ms-box-shadow: rgba(142,144,148,0.3) 0px 0px 12px ;
    -moz-box-shadow:  rgba(142,144,148,0.3) 0px 0px 12px  ;
    background: #fff;
}
.servers ul li:hover .servers-mark {
    color: #1782FF;
}
.servers ul li:hover .servers-phone {
    color: #1782FF;
}
.servers ul li:hover .servers-online {
    color: #1782FF;
}
.servers ul li .servers-mark{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    line-height: 80px;
}
.servers ul li .servers-mark .iconfont{
    font-size: 74px;
}
.servers ul li .servers-item{
    font-weight:500;
    font-size:24px;
    height: 24px;
    line-height: 24px;
    color: #333333;
    width: 240px;
    margin: 0 auto;
    margin-top: 26px;
}
.servers ul li .servers-phone{
    font-size: 18px;
    height: 18px;
    line-height: 18px;
    color: #999999;
    width: 240px;
    margin: 0 auto;
    margin-top: 22px;
    text-align: left;
}
.servers ul li .servers-online{
    font-size: 18px;
    height: 24px;
    line-height: 24px;
    color: #999999;
    width: 240px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: left;
}
.servers ul li .servers-online div{
    display: inline-block;
}
.servers ul li .servers-online a{
    display: inline-block;
    border:1px solid rgba(212,216,224,1);
    border-radius:3px;
    -ms-border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    text-align: center;
    line-height: 24px;
    color: #184880;
    cursor: pointer;
}
.servers ul li .servers-net{
    font-size: 18px;
    height: 18px;
    line-height: 18px;
    color: #999999;
    width: 240px;
    margin: 0 auto;
    margin-top: 22px;
    text-align: left;
}
/*address*/
.address{
    width: 100%;
    height: 866px;
    padding-top:64px;
}
.address .address-title{
    color: #333333;
    font-size: 40px;
    font-weight:500;
    font-family:SourceHanSansCN-Medium;
    text-align: center;
}
.address .address-map{
    margin-top: 64px;
    height: 574px;
    width: 1200px;
    margin: 0 auto;
    margin-top: 64px;
}
.address .address-map iframe{
    border: none !important;
    width: 100%;
    height: 100%;
}
/*bottom*/
.bottom{
    width: 100;
    height: 466px;
    background: #0C111D;
    padding-top: 48px;
    color:#fff;
}
.bottom .wechat{
    margin: 0 auto;
    height:215px;
    width: 215px;
}
.bottom .wechat img{
    width: 100%;
    height: 100%;
}
.bottom h2{
    width: 100%;
    height: 30px;
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
}
.bottom p{
    font-size: 16px;
    width: 100%;
    height: 16px;
    line-height: 16px;
    text-align: center;
    margin-top: 36px;
    color: #aeaeb0;
}
.bottom .line{
    width:1080px;
    height:1px;
    background:linear-gradient(0deg,rgba(255,255,255,0.1),rgba(255,255,255,0.3),rgba(255,255,255,0.1));
    background:-webkit-linear-gradient(0deg,rgba(255,255,255,0.1),rgba(255,255,255,0.3),rgba(255,255,255,0.1));
    background:-moz-linear-gradient(0deg,rgba(255,255,255,0.1),rgba(255,255,255,0.3),rgba(255,255,255,0.1));
    opacity:0.3;
    margin: 0 auto;
    margin-top: 40px;
}
.bottom .net-mark{
    width: 100%;
    height: 14px;
    line-height: 14px;
    text-align: center;
    margin-top: 16px;
    color: #6d6f73;
    font-size: 14px;
}

@media screen and (max-width: 420px) {
    .top-banner {
        background-size: cover;
        height: 8rem;
        padding-top: 0.25rem;
    }
    .top-banner div {
        height: auto;
        font-size: 1.25rem;
        line-height: 2.25rem;
    }
    .top-banner p {
        height: initial;
        line-height: initial;
        font-size: 0.875rem;
        margin-top: 0;
    }
    .company-intr {
        height: initial;
        padding: 0 1rem;
        padding-top: 1.5rem;
    }
    .company-intr div {
        font-size: 1.375rem;
    }
    .company-intr p {
        height: initial;
        width: auto;
        font-size: 1rem;
        margin-top: 0.5rem;
        line-height: 1.5rem;
    }
    .cooperation {
        height: auto;
        padding: 1.5rem 1rem 0;

    }
    .cooperation div {
        height: initial;
        line-height: initial;
        font-size: 1.375rem;
    }
    .cooperation ul {
        width: 100%;
        height: auto;
        margin-top: 0.5rem;
    }
    .cooperation ul li {
        width: 50%;
        height: 4.5rem;
        line-height: 4.5rem;
        overflow: hidden;
    }
    .cooperation ul li>img {
        width: 100%;
    }
    .servers {
        padding-top: 2rem;
        height: auto;
    }
    .servers-name {
        height: initial;
        line-height: initial;
        font-size: 1.375rem;
    }
    .servers ul {
        width: 100%;
        height: auto;
        margin-top: 0.5rem;
    }
    .servers ul li {
        width: 100%;
        height: auto;
        padding: 1rem 0;
        margin-bottom: 1rem;
    }
    .servers ul li .servers-mark {
        width: 100%;
        height: auto;
        line-height: initial;
    }
    .servers ul li .servers-mark .iconfont {
        font-size: 2rem;
    }
    .servers ul li .servers-item {
        font-size: 1.125rem;
        height: auto;
        line-height: initial;
        width: 100%;
        margin-top: 0.5rem;
    }
    .servers ul li .servers-phone {
        font-size: 1rem;
        line-height: initial;
        margin-top: 0.5rem;
        width: 53%;
    }
    .servers ul li .servers-online {
        font-size: 1rem;
        line-height: initial;
        margin-top: 0.5rem;
        width: 53%;
        height: auto;
    }
    .servers ul li .servers-net {
        font-size: 1rem;
        line-height: initial;
        margin-top: 0.5rem;
        width: 53%;
        height: auto;
    }
    .servers ul li:nth-child(2) {
        margin: 0 0 1rem;
    }
    .servers ul li:last-child {
        margin-bottom: 0;
    }
    .address {
        padding-top: 2rem;
        height: auto;
    }
    .address .address-title {
        font-size: 1.375rem;
    }
    .address .address-map {
        margin-top: 0.5rem;
        width: 100%;
        height: 12rem;

    }
    .bottom {
        height: auto;
        padding: 2rem 1rem 1rem;
        margin-top: 2rem;
    }
    .bottom .wechat {
        width: 100%;
        height: auto;
        text-align: center;
    }
    .bottom .wechat img {
        width: 8.5rem;
        height: 8.5rem;
    }
    .bottom h2 {
        height: auto;
        font-size: 1.125rem;
        margin-top: 1.25rem;
    }
    .bottom p {
        font-size: 0.875rem;
        height: auto;
        line-height: initial;
        margin-top: 1rem;
    }
    .bottom .line {
        width: 100%;
        margin-top: 1.5rem;
    }
    .bottom .net-mark {
        height: auto;
        line-height: initial;
        margin-top: 0.75rem;
        font-size: 0.875rem;
    }
}

@media screen and (max-width: 384px) {
    html {
        font-size: 93%;
    }
}

@media screen and (max-width: 320px) {
    html {
        font-size: 87.5%;
    }
}