a:focus{
    text-decoration: none;
}
.head{
    position: static;
}
.head>.util {
    position: absolute;
    right: 40px;
    line-height: 88px;
}
.head>.util span {
    display: inline-block;
}

.index-banner {
    display: block;
    width: 120px;
    height: 42px !important;
    text-align: center;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size:16px ;
    line-height: 42px;
    margin-top: 23px;
}
.index-banner .icon-shouye{
    font-size: 27px;
    vertical-align: middle;
    position:relative;
    top:-3px;
}


.content{
    width: 100%;
    height:calc(100% - 88px);
    background:rgba(240,243,250,1);
    padding-top: 80px;
    text-align: center;
}
.content .content-outer{
    width: 1200px;
    height:811px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(230,230,230,1);
    margin: 0 auto;

}
.content .content-outer h2{
    width:100%;
    height:60px;
    font-size:30px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:60px;
    margin: 0 auto;
    margin-top: 56px;
}
.content .content-outer p{
    margin-top: 18px;
    width:100%;;
    height:24px;
    font-size:16px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(91,94,101,1);
    line-height:24px;
}
form{
    width: 100%;
    height: 350px;
    margin-top: 40px;
    font-size: 16px;
}
form .content-inner{
    width: 100%;
    height: 290px;
}
form .content-inner:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
 .content-inner-right,.content-inner-left{
    float: left;
    height: 100%;
    height: 100%;
    line-height: 40px;
    color: #666666;
}
.content-inner-left{
    text-align: right;
    width: 38.75%;
    padding-right: 16px;
}
.content-inner-left span{
    color: rgba(220,60,47,1);
}
.content-inner-left li{
    height: 100%;
    line-height: 48px;
    margin-bottom: 32px;
}
.content-inner-right{
    text-align: right;
    width: 40%;
}

.content-inner-right li:nth-child(odd){
    width: 320px;
    height: 46px;
    border:1px solid rgba(204,204,204,1);
}
.content-inner-right li:nth-child(even){
    height: 32px;
    border: none;
    color: rgba(220,60,47,1);
    text-align: left;
    font-size: 14px;
    line-height: 32px;
    visibility:hidden;
}
.content-inner-right li input{
    width:calc(100% - 20px);
    height: 100%;
    padding-left: 20px;
}
input::-webkit-input-placeholder {
    color:    #BFBABA;
}
input:-moz-placeholder { 
   color:    #BFBABA;
}
input::-moz-placeholder { 
   color:    #BFBABA;
}
input:-ms-input-placeholder {
   color:    #BFBABA;
}
.content-inner-right li .outer{
    position: relative;
    width: 320px;
    height: 46px;
    line-height: 46px;
    background: #ccc9c9;
}
.outer span,.filter-box,.inner{
    position: absolute;
    top: 0;
    left: 0;
}
.outer span{
    display: block;
    padding:0  0 0 36px;
    width: calc(100% - 36px);
    height: 100%;
    color: #fff;
    text-align: center;
    line-height: 48px;
}
.filter-box{
    width: 0;
    height: 100%;
    background: #4387fc;
    z-index: 9;
}
.outer.act span{
    padding:0 36px 0 0;
}
.inner{
    width: 48px;
    height: 46px;
    text-align: center;
    background: #fff;
    cursor: pointer;
    z-index: 10;
    font-weight: bold;
    color: #929292;
    line-height: 46px;
}
.iconfont{
    font-size: 18px;
}
.outer.act .inner{
    color: #4387fc;
}
.outer.act span{
    z-index: 99;
}
.button{
    width:152px;
    height:48px;
    background:rgba(252,184,1,1);
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    line-height: 48px;
    font-size: 20px;
    color: #333333;
    cursor: pointer;
    margin-left: 30px;
}

.layui-layer{
    top:  200px !important;
}


@media (max-width: 420px) {
    .head {
        width: calc(100% - 2rem);
        height: 58px;
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center
    }
    .head>.logo {
        width: auto;
        float: none;
    }
    .head>.logo>img {
        width: 6.625rem;
    }
    .index-banner {
        width: auto;
        margin-top: 0;
        height: auto !important;
        line-height: initial;
        font-size: 1rem;
    }
    .index-banner .icon-shouye {
        font-size: 1.5rem;
    }
    .content {
        height: calc(100% - 58px);
        padding-top: 1rem;
    }
    .content .content-outer {
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
    }
    .content .content-outer h2 {
        height: auto;
        line-height: initial;
        font-size: 1.25rem;
        margin-top: 1.5rem;
    }
    .content .content-outer p {
        padding: 0 1rem;
        width: calc(100% - 2rem);
        height: auto;
        line-height: 1.5rem;
        font-size: 1rem;
        margin-top: 1rem;
    }
    form {
        height: auto;
        margin-top: 2rem;
        font-size: 1rem;
    }
    form .content-inner {
        height: auto;
        display: flex;
    }
    form .content-inner>li {
        float: none;
    }
    .content-inner-left {
        width: 30%;
        padding-right: 1rem;
    }
    .content-inner-right {
        width: 60%;
        line-height: initial;
    }
    .content-inner-left li {
        line-height: 2.5rem;
    }
    .content-inner-right li:nth-child(odd) {
        width: 100%;
        height: 2.375rem;
    }
    .content-inner-right li input {
        padding-left: 1rem;
        width: calc(100% - 1rem);
    }
    .content-inner-right li .outer {
        width: 100%;
        height: 2.5rem;
        line-height: initial;
    }
    .outer span {
        line-height: 2.5rem;
        font-size: 0.875rem;
        width: calc(100% - 2.6rem);
        padding-left: 2.6rem;
    }
    .inner {
        height: 2.5rem;
        line-height: 2.5rem;
        width: 2.6rem;
    }
    .button {
        width: 90%;
        height: 2.5rem;
        line-height: 2.5rem;
        font-size: 1rem;
        margin-top: 0.5rem;
        margin: 0 auto;
    }
    .content-inner-left li:last-child, .content-inner-right li:nth-child(7), .content-inner-right li:last-child {
        display: none;
    }
}

@media (max-width: 384px) {
    html {
        font-size: 93%;
    }
}

@media (max-width: 360px) {
    html {
        font-size: 92%;
    }
}

@media (max-width: 320px) {
    html {
        font-size: 87.5%;
    }
    .content-inner-left {
        width: 32%;
    }
    .content-inner-right {
        width: 58%;
    }
}