h3{
    /*font-weight: 600;*/
    font-size:36px;
}
@media (min-width: 1366px) {
    .plat-common{
        width: 1200px;
    }
}
body{
    overflow-x: hidden;
    font-size: 18px;
}
.container{
    padding:0;
}
.row{
    margin:0;
}
.platform {
    position: relative;
    margin: 0;
    color: #333;
    height: 100%;
    overflow: hidden;
    background: url("../img/app/bannerbg.png") no-repeat;
    background-size: cover;
}
.platform p{
    width:80%;
    color: #696D6F;
    padding-top:5px;
}
.plat-common {
    margin: 0 auto;
}
.plat-banner{
    padding-top:3%;
}
@media (min-width: 1000px) {
    .plat-banner p{
        width:40%;
    }
}
.consultation{
    font-size: 20px;
    margin:40px 0 100px 0;
    cursor: pointer;
}
.consultation p{
    color: #fff;
    width: 226px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    background-color: #184880;
    border: solid 1px #1782ff;
    padding:0;
}
.consultation p i {
    display: inline-block;
    width: 24px;
    height:24px;
    vertical-align: middle;
    margin:-5px 0 0 5px;
    background: url("../img/app/download.png") no-repeat;
}
.consultation p:hover{
    background-color: rgba(21,100,203,0.7);
}
.feature-title{
    font-size:40px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(255,255,255,1);
    padding-bottom:10px;
}
.feature-title-black{
    color: #333;
}
.attetion {
    margin: 0 auto;
    margin:96px 0 166px;
}
.attention-heat{
    height: 480px;
    position: relative;
}
.attention-bg {
    width: 100%;
    height: 480px;
    background: url("../img/app/bg.png") no-repeat;
    padding: 10% 0 0 80px;
    color: #fff;
    position: absolute;
}
.attention-bg  p{
    padding-top:10px;
    width:37%;
}
.attention-template {
    width: 246px;
    height: 496px;
    position: absolute;
    z-index: 10;
    right: 198px;
    bottom:-72px;
}
.operation-condition{
    background:#F5F5FF ;
    text-align: center;
    padding:96px 0;
    height:100%;
    overflow: hidden;
}
.operation-condition .details{
    width:60%;
    margin:0 auto;
    font-size:18px;
    color: #696D6F;
}
.operation-condition img{
    width: 260px;
}
.operation-condition .special {
    padding: 17% 0 0 0;
    font-size: 16px;
    color: #FFBA02;
}
.operation-condition .special p:nth-of-type(1){
    font-size: 40px;
}
.alarm-bg {
    width: 100%;
    padding:160px 80px 220px 0;
    background: url('../img/app/告警_bg.png') no-repeat;
    text-align: right;
    color: #fff;
}
.alarm-bg .feature-title{
    padding-bottom:15px;
}
.alarm-bg p {
    margin-left: 63%;
    opacity: 0.8;
    width: 37%;
}
.download-app {
    text-align: center;
    margin:40px 0;
}
.download-app  i {
    display: inline-block;
    width: 26px;
    height:30px;
    vertical-align: middle;
    margin: -5px 5px 0 0;
}
.download-app dl{
    border:1px solid rgba(237,237,237,1);
}
.download-app dl:nth-of-type(1){
    margin: 0 15px 0 30px;
}
.download-app dl:nth-of-type(2){
    margin: 0 30px 0 15px;
}
.download-app dt {
    margin-bottom: 22px;
    width: 232px;
    height: 56px;
    background: #424446;
    color: #ffffff;
    line-height: 56px;
    font-weight:100;
    font-size:16px;
}
.download-app dd {
    width: 190px;
    height:190px;
    margin:0 auto;
}
.download-app .android-app i{
    background: url("../img/app/android.png") no-repeat;
}
.download-app .ios-app i{
    background: url("../img/app/ios.png") no-repeat;
}
.download-app .android-app dd{
    background: url("../img/app/qr_android.png") no-repeat;
}
.download-app .ios-app dd{
    background: url("../img/app/qr_ios.png") no-repeat;
}
@media (min-width: 768px){
    .modal-dialog {
        width:560px;
        height:454px;
        margin: 10% auto;
    }
}
.modal-open .modal{
    overflow: hidden;
}


@media (max-width: 420px) {
    .platform {
        height: 8.5rem;
        background-position: center;
    }
    .plat-banner {
        padding-top: 0;
    }
    .platform h2 {
        height: auto;
        font-size: 1.25rem;
        line-height: 2.25rem;
        margin-top: 0;
        margin-bottom: 0;
    }
    .platform p {
        height: initial;
        line-height: 1.125rem;
        font-size: 0.875rem;
        margin: 0;
    }
    .consultation {
        margin: 0.5rem 0 0;
    }
    .consultation p {
        width: 10rem;
        line-height: 2.25rem;
    }
    .consultation p i {
        width: 1rem;
        height: 1rem;
        background-size: contain;
    }
    .attetion {
        margin: 1.5rem 0;
    }
    .attention-heat {
        height: auto;
        padding: 0 1rem;
    }
    .attention-bg {
        padding: 1.5rem 1rem 0 1rem;
        position: inherit;
        height: 30rem;
    }
    .feature-title {
        font-size: 1.25rem;
        height: auto;
        line-height: initial;
        margin: 0;
        padding-bottom: 0;
    }
    .attention-bg p {
        width: 100%;
        font-size: 1rem;
        padding-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .attention-template {
        width: 11rem;
        height: 21rem;
        top: 8rem;
        left: calc(50% - 5.5rem);
    }
    .operation-condition {
        padding: 1.5rem 0;
    }
    .operation-condition .details {
        width: 100%;
        font-size: 1rem;
        padding: 0.5rem 1rem 0;

    }
    .station {
        margin-top: 1.5rem !important;
    }
    .operation-condition img {
        width: -webkit-fill-available;
    }
    .operation-condition .special {
        width: auto !important;
        padding: 14% 0 0;
        font-size: 0.875rem;
    }
    .operation-condition .special p:nth-of-type(1) {
        font-size: 1.75rem;
    }
    .station>div:nth-child(4) {
        margin-left: 1rem;
    }
    .alarm-bg {
        padding: 1rem;
        background-size: cover;
    }
    .alarm-bg .feature-title {
        font-size: 1.25rem;
        height: auto;
        line-height: initial;
        margin: 0;
        padding-bottom: 0;
    }
    .alarm-bg p {
        font-size: 1rem;
        margin-top: 0.5rem;
        width: 60%;
        margin-left: 40%;
    }
    .data {
        margin-top: 1.5rem !important;
    }
    .data>div:nth-child(4) {
        margin-left: 1rem;
    }

    .modal-dialog {
        margin: 2rem;
    }
    .modal-header {
        padding: 1rem;
    }
    .modal-title {
        font-size: 1rem;
    }
    .download-app {
        margin: 1rem 0 1.5rem;
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
    }
    .download-app dl:nth-of-type(1), .download-app dl:nth-of-type(2) {
        margin: 0
    }
    .download-app dt {
        margin-bottom: 1rem;
        height: 2.5rem;
        line-height: 2.5rem;
        font-size: 0.875rem;
        width: 100%;
    }
    .download-app i {
        width: 1.375rem;
        height: 1.5rem;
    }
    .download-app .android-app i, .download-app .ios-app i {
        background-size: contain;
    }
    .download-app dl {
        float: none !important;
        width: calc(50% - 0.5rem);
    }
    .download-app dd {
        width: 8rem;
        height: 8rem;
        margin-bottom: 0.5rem;
        
    }
    .download-app .android-app dd, .download-app .ios-app dd {
        background-size: contain;
    }
}

@media (max-width: 384px) {
    html {
        font-size: 93%;
    }
}

@media (max-width: 360px) {
    html {
        font-size: 92%;
    }
    .platform {
        height: 9.5rem;
    }
    .download-app dd {
        width: 7rem;
        height: 7rem;
    }
}

@media (max-width: 320px) {
    html {
        font-size: 87.5%;
    }
    .data>div:nth-child(2)>p:nth-child(2) {
        width: 5.75rem;
    }
    .attention-template {
        height: 20rem;
        top: 9rem;
    }
}