body,html,
h1,
h2,
h3,
ul,
p,
label,div,ol,ul,h1,h2,h3,h4,h5,h6,header,nav,article,footer,dl,dd,dt,tr,th,td{
	margin: 0;
	padding: 0;
}

body *{
    font-family:SourceHanSansCN-Medium, 'microsoft yahei', Arial, Helvetica, sans-serif;
}
body{
    background:rgba(255,255,255,1);
}
li{
	list-style: none;
}

button,
input,
select{
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	outline: none;
}
select{
	appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner{
	padding: 0;
}

/* img{
	display: block;
	border: none;
} */

a,u{
	text-decoration: none;
}
a:hover{
    text-decoration:none;
}
b,
strong{
	font-weight: normal;
}
i,em{
	font-style: normal;
}
/*banner*/
.top-banner{
    width: 100%;
    height: 424px;
    padding-top: 120px;
    background-image: url(../images/operation-bg1.png);
    -webkit-background-image: url(../images/operation-bg1.png);
    -moz-background-image: url(../images/operation-bg1.png);
    -ms-background-image: url(../images/operation-bg1.png);
    text-align: left;
    background-repeat: no-repeat;
    background-position: center center;
}
.top-banner div{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.top-banner div h2{
    height:48px;
    font-size:48px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:#333333;
    line-height:48px;
    width: 100%;
}
.top-banner div  p{
    width:620px;
    height:48px;
    font-size:14px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:#696D6F;
    line-height:24px;
    margin-top: 24px;
}
.top-banner div span{
    display:inline-block;
    width:226px;
    height:56px;
    background:rgba(24,72,128,0.8);
    border:1px solid rgba(23,130,255,1);
    margin: 0 auto;
    margin-top: 40px;
    color: #fff;
    font-size:20px;
    line-height:56px;
    text-align: center;
    cursor: pointer;
}
.top-banner div span:hover{
    background:rgba(24,72,128,1);
}
.top-banner div a img{
    margin-bottom: 2px;
}

/*focus*/
.focus{
    width: 100%;
    height:742px;
    padding-top: 96px;
}
.focus .foucu-check{
    width: 1200px;
    height: 480px;
    margin: 0 auto;
    padding-left: 80px;
    background-image: url(../images/operation-bg2.png);
    -webkit-background-image: url(../images/operation-bg2.png);
    -moz-background-image: url(../images/operation-bg2.png);
    -ms-background-image: url(../images/operation-bg2.png);
    text-align: left;
    padding-top: 150px;
    background-repeat: no-repeat;
    position: relative;
}
.focus .foucu-check h2{
    width:100%;
    height:60px;
    font-size:40px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height:60px;
    }
.focus .foucu-check p{
    height:64px;
    font-size:18px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(255,255,255,1);
    opacity:0.8;
    width: 478px;
    line-height: 32px;
    margin-top: 20px;
}
.focus .foucu-check div{
    position: absolute;
    top: -80px;
    left: 759px;
    width: 375px;
    height: 659px;
}

/*quick*/
.quick{
    width: 100%;
    height:883px;
    background:rgba(245,245,255,1);
}
.quick .quick-check{
    width: 1200px;
    height: 883px;
    margin: 0 auto;
    padding-top: 96px;
    text-align: center;
}
.quick .quick-check h2{
    width:100%;
    height:60px;
    font-size:40px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:#333333;
    line-height:60px;
}
.quick .quick-check p{
    height:64px;
    font-size:18px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:#696D6F;
    width: 863px;
    line-height: 32px;
    margin: 0 auto;
    margin-top: 28px;
}
.quick .quick-check .quick-step{
    width: 100%;
    height: 616px;;
    background:  url('../images/operation-app-3.png') no-repeat  left,
        url('../images/operation-app-4.png') no-repeat  center,
        url('../images/operation-app-5.png') no-repeat  right;
    -webkit-background:  url('../images/operation-app-3.png') no-repeat  left,
        url('../images/operation-app-4.png') no-repeat  center,
        url('../images/operation-app-5.png') no-repeat  right;
    -moz-background:  url('../images/operation-app-3.png') no-repeat  left,
        url('../images/operation-app-4.png') no-repeat  center,
        url('../images/operation-app-5.png') no-repeat  right;
    -ms-background:  url('../images/operation-app-3.png') no-repeat  left,
        url('../images/operation-app-4.png') no-repeat  center,
        url('../images/operation-app-5.png') no-repeat  right;
    text-align: left;
    padding-top: 150px;
}
.quick .quick-check .quick-step:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.quick-check .quick-step li{
    float: left;
    height: 50px;
    width: 150px;
    margin-left: 310px;
    margin-top: 150px;
    text-align: center;
}
.quick-check .quick-step li:nth-child(2){
    margin-left: 280px;
}
.quick-check .quick-step li:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.quick-check .quick-step li div{
    width: 100%;
    height: 5px;
}
.quick-check .quick-step li span{
    display: block;
    margin-left: 7px;
    width:4px;
    height:4px;
    background:rgba(255,200,51,1);
    border-radius:50%;
    float: left;
}
.quick-check .quick-step li p{
    width: 150px;
    height:20px;
    font-size:18px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(255,186,2,1); 
    line-height:20px;
    margin-top: 15px;
}
/*fix*/
.fix{
    width: 1200px;
    height: 672px;
    margin: 0 auto;
    margin-top: 96px;
    background:  url('../images/operation-bg3.png') no-repeat;
    -webkit-background:  url('../images/operation-bg3.png') no-repeat;
    -ms-background:  url('../images/operation-bg3.png') no-repeat;
    -moz-background:  url('../images/operation-bg3.png') no-repeat;
    padding:176px 80px 0 603px;
}
.fix h2{
    width:517px;
    height:40px;
    font-size:38px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(255,255,255,1);
}
.fix p{
    width:486px;
    height:60px;
    font-size:18px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    line-height: 30px;
    color:rgba(255,255,255,1);
    margin-top: 24px;
    text-align: right;
}
/*sign*/
.sign{
    width: 100%;
    height:883px;
    background:rgba(245,245,255,1);
}
.sign .sign-check{
    width: 1200px;
    height: 883px;
    margin: 0 auto;
    padding-top: 96px;
    text-align: center;
}
.sign .sign-check h2{
    width:100%;
    height:60px;
    font-size:40px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:#333333;
    line-height:60px;
}
.sign .sign-check p{
    height:64px;
    font-size:18px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:#696D6F;
    width: 665px;
    line-height: 32px;
    margin: 0 auto;
    margin-top: 28px;
}
.sign .sign-check .sign-step{
    width: 100%;
    height: 616px;;
    background:  url('../images/operation-app-6.png') no-repeat  left,
        url('../images/operation-app-7.png') no-repeat  center,
        url('../images/operation-app-8.png') no-repeat  right;
    -webkit-background:  url('../images/operation-app-6.png') no-repeat  left,
        url('../images/operation-app-7.png') no-repeat  center,
        url('../images/operation-app-8.png') no-repeat  right;
    -moz-background:  url('../images/operation-app-6.png') no-repeat  left,
        url('../images/operation-app-7.png') no-repeat  center,
        url('../images/operation-app-8.png') no-repeat  right;
    -ms-background:  url('../images/operation-app-6.png') no-repeat  left,
        url('../images/operation-app-7.png') no-repeat  center,
        url('../images/operation-app-8.png') no-repeat  right;
    text-align: left;
    padding-top: 150px;
}
.sign .sign-check .sign-step:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.sign-check .sign-step li{
    float: left;
    height: 50px;
    width: 150px;
    margin-left: 310px;
    margin-top: 150px;
    text-align: center;
}
.sign-check .sign-step li:nth-child(2){
    margin-left: 280px;
}
.sign-check .sign-step li:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.sign-check .sign-step li div{
    width: 100%;
    height: 5px;
}
.sign-check .sign-step li span{
    display: block;
    margin-left: 7px;
    width:4px;
    height:4px;
    background:rgba(255,200,51,1);
    border-radius:50%;
    float: left;
}
.sign-check .sign-step li p{
    width: 150px;
    height:20px;
    font-size:18px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(255,186,2,1); 
    line-height:20px;
    margin-top: 15px;
}


/*弹框*/
.modal-dialog{
    margin-top: 250px;
    width: 560px;
    height: 454px;
}
#myModalLabel{
    font-weight: 600;
}
.download-app {
    text-align: center;
    margin:40px 0;
}
.download-app  i {
    display: inline-block;
    width: 26px;
    height:30px;
    vertical-align: middle;
    margin: -5px 5px 0 0;
}

.download-app dl:nth-of-type(1){
    margin: 0 15px 0 30px;
}
.download-app dl:nth-of-type(2){
    margin: 0 30px 0 15px;
}
.download-app dt {
    margin-bottom: 22px;
    width: 232px;
    height: 56px;
    background: #424446;
    color: #ffffff;
    line-height: 56px;
    font-weight:100;
    font-size:16px;
    margin: 0 auto;
}
.download-app dd {
    width: 190px;
    height:190px;
    margin:0 auto;
}
.download-app .android-app i{
    background: url("../img/app/android.png") no-repeat;
}
.download-app .android-app dd{
    background: url("../img/app/qr_android.png") no-repeat;
    margin-top: 20px;
}
@media screen and (max-height: 768px) {
    .modal-dialog{
        margin-top: 120px;
        width: 520px;
        height: 420px;
    }
}
@media screen and (max-height: 960px) and (min-height: 768px) {
    .modal-dialog{
        margin-top: 200px;
        width: 520px;
        height: 420px;
    }
}