@font-face
{
font-family: SourceHanSansCN-Medium;
src: url(./font-family/SourceHanSansCN-Medium.otf);
}
@font-face
{
font-family: SourceHanSansCN-Normal;
src: url(./font-family/SourceHanSansCN-Normal.otf);
}

body,html,
h1,
h2,
h3,
ul,
p,
label,div,ol,ul,h1,h2,h3,h4,h5,h6,header,nav,article,footer,dl,dd,dt,tr,th,td{
	margin: 0;
	padding: 0;
}

body *{
    font-family:SourceHanSansCN-Normal,SourceHanSansCN-Medium, 'microsoft yahei', Arial, Helvetica, sans-serif;
}
body{
    background:rgba(255,255,255,1);
}
li{
	list-style: none;
}

button,
input,
select{
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	outline: none;
}
select{
	appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner{
	padding: 0;
}
a:hover{
    text-decoration:none;
}
/* img{
	display: block;
	border: none;
} */

a,u{
	text-decoration: none;
}
a:focus{text-decoration: none};
b,
strong{
	font-weight: normal;
}
i,em{
	font-style: normal;
}
/*banner*/
.top-banner{
    width: 100%;
    height: 424px;
    padding-top: 120px;
    background-image: url(../images/summary_bg.png);
    -webkit-background-image: url(../images/summary_bg.png);
    -moz-background-image: url(../images/summary_bg.png);
    -ms-background-image: url(../images/summary_bg.png);
    text-align: left;
    background-size: cover;
    background-repeat: no-repeat;
}
.top-banner .banner-content{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.top-banner .banner-content h2{
    height:48px;
    font-size:48px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height:48px;
    width: 100%;
}
.top-banner .banner-content  p{
    width:620px;
    height:48px;
    font-size:14px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:24px;
    opacity:0.75;
    margin-top: 24px;
}
.top-banner .banner-content span{
    display:inline-block;
    width:226px;
    height:56px;
    background:rgba(23,130,255,1);
    border:1px solid rgba(23,130,255,1);
    opacity:0.75;
    margin: 0 auto;
    margin-top: 40px;
    font-size:20px;
    line-height:56px;
    text-align: center;
    cursor: pointer;
}
.top-banner .banner-content span:nth-child(2){
    margin-left: 24px;
    background:none;
    border:1px solid rgba(255,255,255,1);
}
.top-banner .banner-content span:hover{
    opacity:1;
    background:rgba(23,130,255,1);
    border:1px solid rgba(23,130,255,1);
}
.top-banner .banner-content span a{
    color: #fff;
    display:inline-block;
    width: 100%;
    height: 100%;
}
/*summary*/
.summary{
    width:1200px;
    height:663px;
    background:rgba(255,255,255,1); 
    margin: 0 auto;
    padding-top: 24px;
}
.summary:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.summary .summary-left{
    width: 580px;
    padding-top: 92px;
    height: 100%;
    float: left;
    position: relative;
}
.summary-left .summary-content{
    position: absolute;
    top:92px;
    right: 0;
    width: 500px;
}
.summary-left .summary-content p{
    width:100%;
    font-size:14px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:30px;
    margin-top: 24px;
}
.summary-left .summary-content b{
    font-weight: 600;
}
.summary  .summary-right{
    margin-left: 20px;
    width:600px;
    height:663px;
    float: left;
    overflow: hidden;
}
/*conditions*/
.conditions{
    width:1200px;
    height:730px;
    background:rgba(255,255,255,1);
    margin: 0 auto;
    margin-top: 96px;
}

.conditions h2{
    width:100%;;
    height:48px;
    font-size:40px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:48px;
    text-align: center;
}
.conditions .kinds{
    width: 100%;
    height: 600px;
}
.conditions .kinds .kinds-name{
    width: 562px;
    height: 60px;
    margin: 0 auto;
    margin-top: 60px;
}
.conditions .kinds .kinds-name:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.conditions .kinds .kinds-name li{
    cursor:pointer;
    width: 120px;
    height: 60px;
    float: left;
    font-size:18px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    line-height:60px;
    text-align: center;
    margin: 0 50px;
}
.conditions .kinds .kinds-name li:nth-child(1){
    margin-left: 0;
}
.conditions .kinds .kinds-name li:nth-child(3){
    margin-right: 0;
}
.conditions .kinds .kinds-name .active{
    color:rgba(67,135,252,1);
    border-bottom: 2px solid  rgba(67,135,252,1);
}
.conditions .kinds .kinds-content{
    width: 100%;
    height:500px;
    border:1px solid rgba(221,221,221,1);
    padding: 24px;
}
.kinds .kinds-content .choose{
    width: 100%;
    height: 100%;
}
.kinds .kinds-content .choose{
    display: none;
}
.kinds .kinds-content .active-content{
    display:list-item;
}
 .kinds-content .choose .map{
    height: 100%;
    width: 736px;
    margin-right: 32px;
    float: left;
}
 .kinds-content .choose .detail{
    float: left;
    width: 382px;
    height: 100%;
    padding-top: 14px;
}
.kinds-content .choose .detail h2{
    width:100%;
    height:60px;
    font-size:24px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:60px;
    text-align: left;
}
.kinds-content .choose .detail h3{
    height:50px;
    font-size:18px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:50px;
    width: 100%;
}
.kinds-content .choose .detail h4{
    width: 100%;
    font-size:14px;
    font-family:SourceHanSansCN-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:24px;
    font-weight: 600;
    margin-bottom: 10px;
}
.kinds-content .choose .detail li{
    line-height: 24px;
    list-style-type:disc;
    margin-left:20px; 
}

/*advantage*/
.advantage{
    width: 1200px;
    height:1230px;
    margin: 0 auto;
    margin-top: 96px;
    text-align: center;
}
.advantage h2{
    width: 100%;
    height:40px;
    font-size:40px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:40px;
}
.advantage ul{
    width: 100%;
    height:1050px;
    margin-top: 48px;
}
.advantage ul:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.advantage ul li{
    float: left;
    width: 400px;
    height: 350px;
    border-left:1px solid rgba(232,232,232,1);
    border-right:1px solid rgba(232,232,232,1);
    border-bottom: 1px solid rgba(232,232,232,1);
    padding: 50px 38px 0 38px;
}
.advantage ul li:nth-child(3n-1){
    border-left:none;
    border-right: none; 
}
.advantage ul li:nth-child(1){
    border-top:1px solid rgba(232,232,232,1);
}
.advantage ul li:nth-child(2){
    border-top:1px solid rgba(232,232,232,1);
}
.advantage ul li:nth-child(3){
    border-top:1px solid rgba(232,232,232,1);
}
.advantage ul li h3{
    width:100%;
    height:60px;
    font-size:20px;
    font-family:SourceHanSansCN-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:60px;
}
.advantage ul li p{
    width:100%;
    font-size:14px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(153,153,153,1);
    line-height:24px;
    margin-top: 30px;
    text-align: center;
}

/*function*/
.function{
    width:1200px;
    height:202px;
    background:rgba(255,255,255,1);
    margin: 0 auto;
    margin-top: 96px;
}

.function h2{
    width:100%;;
    height:48px;
    font-size:40px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:48px;
    text-align: center;
}
.function .method{
    width: 1200px;
    height: 104px;
    margin: 0 auto;
    margin-top: 50px;
    padding:  0 440px;
}
.function .method:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.function .method li{
    height: 100%;
    width: 130px;
    text-align: center;
    float: left;
    cursor: pointer;
}
.function .method li:nth-child(2){
    float: right;
}
.function .method li  h4{
    height: 46px;
    line-height: 46px;
    font-size:18px;
    font-family:SourceHanSansCN-Regular;
    font-weight:400;
}
.function .method .active h4{
    color: rgba(67,135,252,1);
}
.function .method .active{
    border-bottom: 2px solid rgba(67,135,252,1);
}
 .content-choose{
    width: 100%;
    height: 492px;
    background: #f0f3fa;
}
.content-choose .method-content{
    width: 1200px;
    height: 512px;
    margin: 0 auto;
    padding-top: 30px;
}
.method-content .choice  ul{
    width: 100%;
    height: 100%
}
.method-content .choice {
    display: none;
}
.method-content .active-content{
    display: list-item;
}
.method-content .choice  ul:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.method-content .choice  ul li{
    float: left;
    width:288px;
    height:200px;
    background:rgba(255,255,255,1);
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    margin-right: 16px;
}
.method-content .choice  ul li:hover{
    box-shadow:rgba(142,144,148,0.3) 0px 0px 12px  ;
    -webkit-box-shadow:  rgba(142,144,148,0.3) 0px 0px 12px ;
    -ms-box-shadow: rgba(142,144,148,0.3) 0px 0px 12px ;
    -moz-box-shadow:  rgba(142,144,148,0.3) 0px 0px 12px  ;

}
.method-content .choice  ul li:nth-child(4){
    margin-right: 0;
}
.method-content .choice  ul li h4{
    width:100%;
    height:60px;
    font-size:24px;
    font-family:SourceHanSansCN-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:60px;
}
.method-content .choice  ul li p{
    width:100%;
    height:48px;
    font-size:14px;
    font-family:SourceHanSansCN-Light;
    font-weight:300;
    color:rgba(153,153,153,1);
    line-height:24px;
    padding: 0 32px;
    text-align: left;
}
.method-content .choice  ul .mobile {
    height:260px;
}
.method-content .choice  ul .mobile  p{
    font-size: 14px;
    line-height: 24px;
}
.method-content .choice  ul .mobile a{
    display:inline-block;
    width:240px;
    height:40px;
    border:1px solid #4387FC;
    color: #4387FC ;
    opacity:0.75;
    margin: 0 auto;
    margin-top: 18px;
    font-size:16px;
    line-height:40px;
    text-align: center;
}
.method-content .choice  ul .mobile a:hover{
    background: rgba(23,130,255,1);
    color: #fff;
}
/*framework*/
.framework{
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    padding-top: 96px;
    text-align: center;
}
.framework h2{
    width: 100%;
    height:60px;
    font-size:36px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:60px;
    margin: 0 auto;
}
.framework p{
    color: #a1a1a1;
    height: 30px;
    line-height: 30px;
    text-align: left;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;

}
.framework img{
    margin-top: 45px;
}

/*case*/
.case{
    width: 1200px;
    height:694px;
    margin: 0 auto;
    padding-top: 70px;
    text-align: center;
}
.case h2{
    width: 100%;
    height:60px;
    font-size:36px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:60px;
}
.case h4{
    width: 110px;
    height:36px;
    font-size:18px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:24px;
    border-bottom: 4px solid #4387FC;
    margin: 0 auto;
    margin-top: 30px;
}
.case .case-company{
    width: 1200px;
    height: 372px;
    margin: 0 auto;
    margin-top: 42px;
    border:1px solid rgba(232,232,232,1);
}
.case .case-company:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.case .case-company div{
    float: left;
    width: 600px;
    height: 100%;
}
.case .case-company div:nth-child(2){
    width: 598px;
    padding-top: 28px;
    padding-left: 40px;
    padding-right: 42px;
    text-align: left;
}
.case-company p{
    width:100%;
    font-size:14px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(102,102,102,1);
    line-height:24px;
    margin-top: 20px;
}