@font-face
{
font-family: SourceHanSansCN-Medium;
src: url(./font-family/SourceHanSansCN-Medium.otf);
}
@font-face
{
font-family: SourceHanSansCN-Normal;
src: url(./font-family/SourceHanSansCN-Normal.otf);
}

body,html,
h1,
h2,
h3,
ul,
p,
label,div,ol,ul,h1,h2,h3,h4,h5,h6,header,nav,article,footer,dl,dd,dt,tr,th,td{
	margin: 0;
	padding: 0;
}

body *{
    font-family: SourceHanSansCN-Normal,SourceHanSansCN-Medium,'microsoft yahei', Arial, Helvetica, sans-serif;
}
body{
    background:rgba(255,255,255,1);
}
li{
	list-style: none;
}

button,
input,
select{
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	outline: none;
}
select{
	appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner{
	padding: 0;
}
a:hover{
    text-decoration:none;
}
/* img{
	display: block;
	border: none;
} */

a,u{
	text-decoration: none;
}
a:focus{text-decoration: none};
b,
strong{
	font-weight: normal;
}
i,em{
	font-style: normal;
}
/*banner*/
.top-banner{
    width: 100%;
    height: 424px;
    padding-top: 120px;
    background-image: url(../images/solution_bg.png);
    -webkit-background-image: url(../images/solution_bg.png);
    -moz-background-image: url(../images/solution_bg.png);
    -ms-background-image: url(../images/solution_bg.png);
    text-align: left;
    background-repeat: no-repeat;
    background-size: cover;
}
.top-banner div{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.top-banner div h2{
    height:48px;
    font-size:48px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height:48px;
    width: 100%;
}
.top-banner div  p{
    width:620px;
    height:48px;
    font-size:14px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:24px;
    opacity:0.75;
    margin-top: 24px;
}

.top-banner div span{
    display:inline-block;
    width:226px;
    height:56px;
    background:rgba(23,130,255,1);
    opacity:0.75;
    margin: 0 auto;
    margin-top: 40px;
    font-size:20px;
    line-height:56px;
    text-align: center;
    cursor: pointer;
}
.top-banner div span:hover{
    opacity:1;
}
.top-banner div span a{
    color: #fff;
}
/*introduce*/
.introduce{
    width:1200px;
    height:352px;
    margin: 0 auto;
    padding-top: 96px;
}
.introduce h1{
    height:40px;
    font-size:40px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:40px;
    text-align: center;
    width: 100%;
}
.introduce .introduce-info{
    width:100%;
    height:90px;
    font-size:16px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(107,110,118,1);
    line-height:30px;
    margin-top: 46px;
}
.introduce .introduce-info p{
    width:100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
/*velues*/
.velues{
    width:1200px;
    height:501px;
    background:rgba(255,255,255,1);
    margin: 0 auto;
    padding-top: 96px;
    text-align: center;
}
.velues h1{
    width:100%;;
    height:48px;
    font-size:40px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:48px;
}
.velues ul{
    width: 1200px;
    height: 290px;
    margin: 0 auto;
    margin-top: 36px;
}
.velues ul:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.velues ul li{
    width: 240px;
    height: 290px;
    text-align: center;
    line-height:  290px;
    float: left;
    margin: 0 30px;
}

.velues ul li div{
    height: 130px;
    width: 100%;
    text-align: center;
    line-height: 130px;
}
.velues ul li h3{
    height:28px;
    font-size:20px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(63,65,70,1);
    line-height:28px;
}
.velues ul li p{
    font-size:14px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(139,143,154,1);
    line-height:24px;
    text-align: left;
    margin-top: 20px;
}
/*core*/
.core{
    width:1200px;
    height:548px;
    background:rgba(255,255,255,1);
    margin: 0 auto;
    padding-top: 96px;
    text-align: center;
}
.core h2{
    width:100%;;
    height:48px;
    font-size:40px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:48px;
}
.core ul{
    width: 1200px;
    height: 320px;
    margin: 0 auto;
    margin-top: 36px;
}
.core ul:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.core li{
    width: 350px;
    height: 320px;
    text-align: center;
    line-height:  320px;
    float: left;
    margin: 0 25px;
}
.core ul li div{
    height: 130px;
    width: 100%;
    text-align: center;
    line-height: 130px;
}
.core ul li h5{
    height:28px;
    font-size:20px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(63,65,70,1);
    line-height:28px;
}
.core ul li p{
    font-size:14px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(139,143,154,1);
    line-height:24px;
    text-align: left;
    margin-top: 20px;
}
/*frame*/
.frame{
    width:100%;
    height:848px;
    background:linear-gradient(90deg,rgba(27,74,129,1),rgba(27,94,128,1));
    background:-webkit-linear-gradient(90deg,rgba(27,74,129,1),rgba(27,94,128,1));
    background:-moz-linear-gradient(90deg,rgba(27,74,129,1),rgba(27,94,128,1));
    padding-top: 96px;
}
.frame div{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.frame div h2{
    width:100%;
    height:48px;
    font-size:40px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height:48px;
    text-align: center;
}
.frame div .core-pic{
    margin-top: 24px;
    width:100%;
    height:649px;
    background-image: url(../images/solution_6.png);
    -webkit-background-image: url(../images/solution_6.png);
    -moz-background-image: url(../images/solution_6.png);
    -ms-background-image: url(../images/solution_6.png);
    background-repeat: no-repeat;
}

/*conditions*/
.conditions{
    width:1200px;
    height:730px;
    background:rgba(255,255,255,1);
    margin: 0 auto;
    margin-top: 96px;
}

.conditions h2{
    width:100%;;
    height:48px;
    font-size:40px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:48px;
    text-align: center;
}
.conditions .kinds{
    width: 100%;
    height: 600px;
}
.conditions .kinds .kinds-name{
    width: 562px;
    height: 60px;
    margin: 0 auto;
    margin-top: 60px;
}
.conditions .kinds .kinds-name:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.conditions .kinds .kinds-name li{
    cursor:pointer;
    width: 120px;
    height: 60px;
    float: left;
    font-size:18px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    line-height:60px;
    text-align: center;
    margin: 0 50px;
}
.conditions .kinds .kinds-name li:nth-child(1){
    margin-left: 0;
}
.conditions .kinds .kinds-name li:nth-child(3){
    margin-right: 0;
}
.conditions .kinds .kinds-name .active{
    color:rgba(67,135,252,1);
    border-bottom: 2px solid  rgba(67,135,252,1);
}
.conditions .kinds .kinds-content{
    width: 100%;
    height:500px;
    border:1px solid rgba(221,221,221,1);
    padding: 24px;
}
.kinds .kinds-content .choose{
    width: 100%;
    height: 100%;
}
.kinds .kinds-content .choose{
    display: none;
}
.kinds .kinds-content .active-content{
    display:list-item;
}
 .kinds-content .choose .map{
    height: 100%;
    width: 736px;
    margin-right: 32px;
    float: left;
}
 .kinds-content .choose .detail{
    float: left;
    width: 382px;
    height: 100%;
    padding-top: 14px;
}
.kinds-content .choose .detail h2{
    width:100%;
    height:60px;
    font-size:24px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:60px;
    text-align: left;
}
.kinds-content .choose .detail h3{
    height:50px;
    font-size:18px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:50px;
    width: 100%;
}
.kinds-content .choose .detail h4{
    width: 100%;
    font-size:14px;
    font-family:SourceHanSansCN-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:24px;
    font-weight: 600;
    margin-bottom: 10px;
}
.kinds-content .choose .detail li{
    line-height: 24px;
    list-style-type:disc;
    margin-left:20px; 
}


@media screen and (max-width: 420px) {
    .top-banner {
        background-size: cover;
        height: 9rem;
        padding: 0.25rem 1rem 0;
    }
    .top-banner div {
        width: 100%;
        height: auto; 
    }
    .top-banner div h2 {
        font-size: 1.25rem;
        height: auto;
        line-height: 2.25rem;
    }
    .top-banner div p {
        width: 100%;
        height: initial;
        line-height: 1.125rem;
        font-size: 0.875rem;
        margin-top: 0;
    }
    .top-banner div span {
        width: 7rem;
        height: 2rem;
        margin-top: 0.5rem;
        font-size: 0.875rem;
        line-height: 2rem;
    }
    .introduce {
        width: 100%;
        height: auto;
        padding: 0 1rem;
        padding-top: 2rem;
    }
    .introduce h1 {
        font-size: 1.5rem;
        height: auto;
        line-height: initial;
    }
    .introduce .introduce-info {
        height: auto;
        font-size: 1rem;
        margin-top: 0.5rem;
    }
    .introduce .introduce-info p {
        height: auto;
        line-height: 1.75rem;
        text-align: left;
    }
    .velues {
        width: 100%;
        height: auto;
        padding: 0 1rem;
        padding-top: 2rem;
    }
    .velues h1 {
        font-size: 1.5rem;
        height: auto;
        line-height: initial;
    }
    .velues ul {
        width: auto;
        height: initial;
        margin-top: 1rem;
    }
    .velues ul li {
        width: calc(50% - 0.5rem);
        height: auto;
        line-height: initial;
        margin: 0 1rem 1rem 0;
    }
    .velues ul li:nth-child(even) {
        margin-right: 0;
    }
    .velues ul li div {
        height: 4rem;
        line-height: initial;
    }
    .velues ul li div>img {
        width: 4rem;
        height: 4rem;
    }
    .velues ul li h3 {
        height: 2rem;
        line-height: initial;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .velues ul li p {
        line-height: initial;
        margin-top: 0.5rem;
        font-size: 0.875rem;
    }
    .core {
        width: 100%;
        height: initial;
        padding: 0 1rem;
        padding-top: 2rem;
    }
    .core h2 {
        font-size: 1.5rem;
        height: auto;
        line-height: initial;
    }
    .core ul {
        width: auto;
        height: initial;
        margin-top: 1rem;
    }
    .core li {
        width: calc(50% - 0.5rem);
        height: auto;
        line-height: initial;
        margin: 0 1rem 1rem 0;
    }
    .core li:nth-child(even) {
        margin-right: 0;
    }
    .core ul li div {
        height: 5rem;
        line-height: initial;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .core ul li div>img {
        width: 4rem;
        height: 4rem;
    }
    .core ul li h5 {
        height: 2.5rem;
        line-height: 1.25rem;
        font-size: 1rem;
    }
    .core ul li p {
        line-height: initial;
        margin-top: 0.25rem;
        font-size: 0.875rem;
    }
    .frame {
        padding-top: 1rem;
        margin-top: 1rem;
        height: auto;
    }
    .frame div {
        width: 100%;
        padding: 0 1rem;
        height: auto;
    }
    .frame div h2 {
        font-size: 1.5rem;
        height: auto;
        line-height: initial;
    }
    .frame div .core-pic {
        margin-top: 1rem;
        background-size: contain;
        height: 14rem;
    }
    .conditions {
        width: 100%;
        height: auto;
        margin: 2rem 0 1rem;
    }
    .conditions h2 {
        font-size: 1.5rem;
        height: auto;
        line-height: initial;
    }
    .conditions .kinds {
        height: auto;
        padding: 0 1rem;
    }
    .conditions .kinds .kinds-name {
        width: 100%;
        margin-top: 0.5rem;
        height: auto;
        display: flex;
        justify-content: space-between;
    }
    .conditions .kinds .kinds-name li {
        width: 33.3%;
        font-size: 1.125rem;
        height: 2.5rem;
        line-height: 2.5rem;
        margin: 0;
    }
    .conditions .kinds .kinds-content {
        height: auto;
        padding: 1rem;
    }
    .kinds-content .choose .map {
        display: none;
    }
    .kinds-content .choose .detail {
        float: none;
        width: 100%;
        padding-top: 0;
    }
    .kinds-content .choose .detail h2 {
        height: 2.25rem;
        line-height: 2.25rem;
        font-size: 1.125rem;
    }
    .kinds-content .choose .detail h3 {
        height: 2rem;
        line-height: 2rem;
        font-size: 1rem;
    }
    .kinds-content .choose .detail li {
        line-height: 1.25rem;
        margin-left: 1.25rem;
    }
    .kinds-content .choose .detail h4 {
        font-size: 0.875rem;
        margin-bottom: 0.25rem;
        line-height: 1.375rem;
    }
}

@media screen and (max-width: 384px) {
    html {
        font-size: 93%;
    }
}

@media screen and (max-width: 320px) {
    html {
        font-size: 87.5%;
    }
    .top-banner {
        height: 10rem;
    }
}
