body,html,
h1,
h2,
h3,
ul,
p,
label,div,ol,ul,h1,h2,h3,h4,h5,h6,header,nav,article,footer,dl,dd,dt,tr,th,td{
	margin: 0;
	padding: 0;
}

body *{
    font-family:SourceHanSansCN-Medium, 'microsoft yahei', Arial, Helvetica, sans-serif;
}
body{
    background:rgba(255,255,255,1);
}
li{
	list-style: none;
}

button,
input,
select{
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	outline: none;
}
select{
	appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner{
	padding: 0;
}
a:hover{
    text-decoration:none;
}
/* img{
	display: block;
	border: none;
} */

a,u{
	text-decoration: none;
}
b,
strong{
	font-weight: normal;
}
i,em{
	font-style: normal;
}
/*banner*/
.top-banner{
    width: 100%;
    height: 424px;
    padding-top: 120px;
    background-image: url(../images/zoology-bg1.png);
    -webkit-background-image: url(../images/zoology-bg1.png);
    -moz-background-image: url(../images/zoology-bg1.png);
    -ms-background-image: url(../images/zoology-bg1.png);
    background-repeat:no-repeat;
    text-align: center;
}
.top-banner div{
    height:48px;
    font-size:48px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height:48px;
    width: 100%;
}
.top-banner p{
    height:14px;
    font-size:14px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:24px;
    opacity:0.75;
    width: 100%;
    margin-top: 24px;
}
.top-banner span{
    display:inline-block;
    width:226px;
    height:56px;
    background:rgba(23,130,255,0.8);
    border:1px solid rgba(23,130,255,1);
    opacity:0.75;
    margin: 0 auto;
    margin-top: 70px;
    color: #fff;
    font-size:20px;
    line-height:56px;
    cursor: pointer;
}
.top-banner  span:hover{
    background:rgba(23,130,255,1);
}
/*zoology*/
.zoology-reason{
    width:100%;
    height:606px;
    background:rgba(241,246,252,1); 
    padding-top: 88px;
}
.zoology-reason h1{
    height:40px;
    font-size:40px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:40px;
    text-align: center;
    width: 100%;
}
.zoology-reason .zoology-result{
    height:84px;
    font-size:16px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(107,110,118,1);
    line-height:28px;
    text-align: center;
    margin: 0 auto;
    margin-top: 38px;
    width: 1200px;
    padding: 0 72px;
}
.zoology-reason ul{
    width: 1200px;
    height: 264px;
    margin: 0 auto;
    margin-top: 36px;
}

.zoology-reason ul:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.zoology-reason ul li{
    width: 240px;
    height: 264px;
    text-align: center;
    line-height: 264px;
    float: left;
    margin: 0 30px;
}

.zoology-reason ul li div{
    height: 130px;
    width: 100%;
    text-align: center;
    line-height: 130px;
}
.zoology-reason ul li h3{
    height:28px;
    font-size:20px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(63,65,70,1);
    line-height:28px;
}
.zoology-reason ul li p{
    font-size:14px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(139,143,154,1);
    line-height:24px;
    text-align: left;
    margin-top: 20px;
}
/*cooperation*/
.cooperation{
    width: 100%;
    height: 385px;
    padding-top: 97px;
}
.cooperation div{
    width: 100%;
    height:40px;
    font-size:40px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    line-height: 40px;
    text-align: center;
}
.cooperation ul{
    width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    height: 90px;
}
.cooperation ul:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.cooperation p{
    height:24px;
    font-size:16px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:24px;
    width: 100%;
    margin: 0 auto;
    margin-top: 16px;
    text-align: center;
}
.cooperation ul li{
    width: 240px;
    height: 88px;
    text-align: center;
    line-height: 88px;
    float: left;
}
/*recruit*/
.recruit{
    width:1200px;
    height:610px;
    margin: 0 auto;
    padding-top: 96px;
    text-align: center;
}
.recruit h2{
    width:100%;
    height:38px;
    font-size:40px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:38px;
}
.recruit .recruit-content{
    width:100%;
    height:16px;
    font-size:16px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:16px;
    margin: 0 auto;
    margin-top: 16px;
}
.recruit ul{
    width: 1200px;
    margin: 0 auto;
    margin-top: 48px;
    height: 300px;
}
.recruit ul:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.recruit ul li{
    width:282px;
    height:300px;
    border:1px solid rgba(228,228,228,1);
    border-radius:3px;
    -webkit-border-radius:3px;
    -ms-border-radius:3px;
    -moz-border-radius:3px;
    float: left;
    margin: 0 12px;
}

.recruit ul li:nth-child(1){
    margin-left: 0;
}
.recruit ul li:nth-child(4){
    margin-right: 0;
}
.recruit ul li:hover{
    box-shadow:0px 6px 8px 0px rgba(23,130,255,0.16);
    -webkit-box-shadow:0px 6px 8px 0px rgba(23,130,255,0.16);
    -ms-box-shadow:0px 6px 8px 0px rgba(23,130,255,0.16);
    -moz-box-shadow:0px 6px 8px 0px rgba(23,130,255,0.16);
}
.recruit ul li div{
    height: 150px;
    width: 100%;
    text-align: center;
    line-height: 150px;
    background: #f1f1f1;
}
.recruit ul li h5{
    height:16px;
    font-size:16px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(24,72,128,1);
    line-height:16px;
    margin-top: 20px;
    padding: 0 14px;
    width: 254px;
    text-align: left;
}

.recruit  ul li p{
    height:72px;
    font-size:14px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(139,143,154,1);
    line-height:24px;
    padding: 0 14px;
    width: 254px;
    text-align: left;
    margin-top: 15px;
}
/*add*/
.add{
    width: 100%;
    height: 443px;
    margin: 0 auto;
    padding-top: 96px;
    background-image: url(../images/zoo_bg.png);
    -webkit-background-image: url(../images/zoo_bg.png);
    -moz-background-image: url(../images/zoo_bg.png);
    -ms-background-image: url(../images/zoo_bg.png);
    background-repeat:no-repeat;
    text-align: center;
}
.add h2{
    width:100%;
    height:48px;
    font-size:40px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height:48px;
    text-align: center;
}
.add .road{
    width: 1200px;
    height: 200px;
    margin:  0 auto;
    margin-top: 38px;
    text-align: center;
    line-height: 200px;
}
.add .road:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.add .road .step{
    height: 100%;
    width: 160px; 
}
.add .road li{
    float: left;
}
.add .road .sorrow{
    width:174px;
    height:1px;
    border:1px solid rgba(23,130,255,1);
    margin-top:76px; 
}
.add .road .step div{
    width: 100%;
    height: 134px;
    text-align: center;
    line-height: 134px;
}
.add .road .step p{
    margin-top:24px;
    height:24px;
    font-size:18px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:24px;
}

.add-link{
    width: 100%;
    height: 365px;
    padding-top: 96px;
    background-image: url(../images/zoo_bg_2.png);
    -webkit-background-image: url(../images/zoo_bg_2.png);
    -moz-background-image: url(../images/zoo_bg_2.png);
    -ms-background-image: url(../images/zoo_bg_2.png);
    background-repeat:no-repeat;
    text-align: center;
}
.add-link h2{
    width:100%;
    height:48px;
    font-size:36px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:48px;
}
.add-link p{
    width:100%;
    height:24px;
    margin-top:16px; 
    font-size:16px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:24px;
}
.add-link span{
    display: block;
    background:rgba(24,72,128,1);
    height:56px;
    width: 226px;
    color: #fff;
    font-size:20px;
    margin: 0 auto;
    line-height: 56px;
    margin-top:50px; 
    cursor: pointer;
}
.add-link span:hover{
    box-shadow:rgba(23,130,255,0.66) 0px 0px 32px  ;
    -webkit-box-shadow:rgba(23,130,255,0.66)  0px 0px 32px  ;
    -ms-box-shadow:rgba(23,130,255,0.66) 0px 0px 32px ;
    -moz-box-shadow:rgba(23,130,255,0.66) 0px 0px 32px  ;

}