@font-face
{
font-family: SourceHanSansCN-Medium;
src: url(./font-family/SourceHanSansCN-Medium.otf);
}
@font-face
{
font-family: SourceHanSansCN-Normal;
src: url(./font-family/SourceHanSansCN-Normal.otf);
}

body,html,
h1,
h2,
h3,
ul,
p,
label,div,ol,ul,h1,h2,h3,h4,h5,h6,header,nav,article,footer,dl,dd,dt,tr,th,td{
	margin: 0;
	padding: 0;
}

body *{
    font-family:SourceHanSansCN-Normal ,SourceHanSansCN-Medium,'microsoft yahei', Arial, Helvetica, sans-serif;
}
body{
    background:rgba(255,255,255,1);
}
li{
	list-style: none;
}

button,
input,
select{
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	outline: none;
}
select{
	appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner{
	padding: 0;
}
a:hover{
    text-decoration:none;
}
a:focus{
    text-decoration:none;
}
/* img{
	display: block;
	border: none;
} */

a,u{
	text-decoration: none;
}
b,
strong{
	font-weight: normal;
}
i,em{
	font-style: normal;
}
/*banner*/
.top-banner{
    width: 100%;
    height: 424px;
    padding-top: 120px;
    background-image: url(../images/zoology-bg1.png);
    -webkit-background-image: url(../images/zoology-bg1.png);
    -moz-background-image: url(../images/zoology-bg1.png);
    -ms-background-image: url(../images/zoology-bg1.png);
    background-repeat:no-repeat;
    text-align: center;
}
.top-banner div{
    height:48px;
    font-size:48px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height:48px;
    width: 100%;
}
.top-banner p{
    height:14px;
    font-size:14px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:24px;
    opacity:0.75;
    width: 100%;
    margin-top: 24px;
}
.top-banner span{
    display:inline-block;
    width:226px;
    height:56px;
    background:rgba(23,130,255,1);
    margin: 0 auto;
    margin-top: 70px;
    font-size:20px;
    line-height:56px;
    cursor: pointer;
    opacity: 0.75;
}
.top-banner  span:hover{
    opacity: 1;
}
.top-banner span a{
    color: #fff;
}
/*zoology*/
.zoology-reason{
    width:100%;
    height:606px;
    background:rgba(241,246,252,1); 
    padding-top: 88px;
}
.zoology-reason h1{
    height:40px;
    font-size:40px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:40px;
    text-align: center;
    width: 100%;
}
.zoology-reason .zoology-result{
    height:84px;
    font-size:16px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(107,110,118,1);
    line-height:28px;
    text-align: center;
    margin: 0 auto;
    margin-top: 38px;
    width: 1200px;
    padding: 0 72px;
}
.zoology-reason ul{
    width: 1200px;
    height: 264px;
    margin: 0 auto;
    margin-top: 36px;
}

.zoology-reason ul:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.zoology-reason ul li{
    width: 240px;
    height: 264px;
    text-align: center;
    line-height: 264px;
    float: left;
    margin: 0 30px;
}

.zoology-reason ul li div{
    height: 130px;
    width: 100%;
    text-align: center;
    line-height: 130px;
}
.zoology-reason ul li h3{
    height:28px;
    font-size:20px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(63,65,70,1);
    line-height:28px;
}
.zoology-reason ul li p{
    font-size:14px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(139,143,154,1);
    line-height:24px;
    text-align: left;
    margin-top: 20px;
}
/*cooperation*/
.cooperation{
    width: 100%;
    height: 385px;
    padding-top: 97px;
}
.cooperation div{
    width: 100%;
    height:40px;
    font-size:40px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    line-height: 40px;
    text-align: center;
}
.cooperation ul{
    width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    height: 90px;
}
.cooperation ul:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.cooperation p{
    height:24px;
    font-size:16px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:24px;
    width: 100%;
    margin: 0 auto;
    margin-top: 16px;
    text-align: center;
}
.cooperation ul li{
    width: 240px;
    height: 88px;
    text-align: center;
    line-height: 88px;
    float: left;
}
/*recruit*/
.recruit{
    width:1200px;
    height:610px;
    margin: 0 auto;
    padding-top: 96px;
    text-align: center;
}
.recruit h2{
    width:100%;
    height:38px;
    font-size:40px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:38px;
}
.recruit .recruit-content{
    width:100%;
    height:16px;
    font-size:16px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:16px;
    margin: 0 auto;
    margin-top: 16px;
}
.recruit ul{
    width: 1200px;
    margin: 0 auto;
    margin-top: 48px;
    height: 300px;
}
.recruit ul:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.recruit ul li{
    width:282px;
    height:300px;
    border:1px solid rgba(228,228,228,1);
    border-radius:3px;
    -webkit-border-radius:3px;
    -ms-border-radius:3px;
    -moz-border-radius:3px;
    float: left;
    margin: 0 12px;
}

.recruit ul li:nth-child(1){
    margin-left: 0;
}
.recruit ul li:nth-child(4){
    margin-right: 0;
}
.recruit ul li:hover{
    box-shadow:0px 6px 8px 0px rgba(23,130,255,0.16);
    -webkit-box-shadow:0px 6px 8px 0px rgba(23,130,255,0.16);
    -ms-box-shadow:0px 6px 8px 0px rgba(23,130,255,0.16);
    -moz-box-shadow:0px 6px 8px 0px rgba(23,130,255,0.16);
}
.recruit ul li div{
    height: 150px;
    width: 100%;
    text-align: center;
    line-height: 150px;
    background: #f1f1f1;
}
.recruit ul li h5{
    height:16px;
    font-size:16px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(24,72,128,1);
    line-height:16px;
    margin-top: 20px;
    padding: 0 14px;
    width: 254px;
    text-align: left;
}

.recruit  ul li p{
    height:72px;
    font-size:14px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(139,143,154,1);
    line-height:24px;
    padding: 0 14px;
    width: 254px;
    text-align: left;
    margin-top: 15px;
}
/*add*/
.add{
    width: 100%;
    height: 443px;
    margin: 0 auto;
    padding-top: 96px;
    background-image: url(../images/zoo_bg.png);
    -webkit-background-image: url(../images/zoo_bg.png);
    -moz-background-image: url(../images/zoo_bg.png);
    -ms-background-image: url(../images/zoo_bg.png);
    background-repeat:no-repeat;
    text-align: center;
}
.add h2{
    width:100%;
    height:48px;
    font-size:40px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(255,255,255,1);
    line-height:48px;
    text-align: center;
}
.add .road{
    width: 1200px;
    height: 200px;
    margin:  0 auto;
    margin-top: 38px;
    text-align: center;
    line-height: 200px;
}
.add .road:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.add .road .step{
    height: 100%;
    width: 160px; 
}
.add .road li{
    float: left;
}
.add .road .sorrow{
    width:174px;
    height:1px;
    border:1px solid rgba(23,130,255,1);
    margin-top:76px; 
}
.add .road .step div{
    width: 100%;
    height: 134px;
    text-align: center;
    line-height: 134px;
}
.add .road .step p{
    margin-top:24px;
    height:24px;
    font-size:18px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:24px;
}

.add-link{
    width: 100%;
    height: 365px;
    padding-top: 96px;
    background-image: url(../images/zoo_bg_2.png);
    -webkit-background-image: url(../images/zoo_bg_2.png);
    -moz-background-image: url(../images/zoo_bg_2.png);
    -ms-background-image: url(../images/zoo_bg_2.png);
    background-repeat:no-repeat;
    text-align: center;
}
.add-link h2{
    width:100%;
    height:48px;
    font-size:36px;
    font-family:SourceHanSansCN-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:48px;
}
.add-link p{
    width:100%;
    height:24px;
    margin-top:16px; 
    font-size:16px;
    font-family:SourceHanSansCN-Normal;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:24px;
}
.add-link a{
    display: block;
    background:rgba(24,72,128,1);
    height:56px;
    width: 226px;
    color: #fff;
    font-size:20px;
    margin: 0 auto;
    line-height: 56px;
    margin-top:50px; 
    cursor: pointer;
}
.add-link a:hover{
    box-shadow:rgba(16,120,241,0.7) 0px 0px 32px  ;
    -webkit-box-shadow:rgba(16,120,241,0.7)  0px 0px 32px  ;
    -ms-box-shadow:rgba(16,120,241,0.7) 0px 0px 32px ;
    -moz-box-shadow:rgba(16,120,241,0.7) 0px 0px 32px  ;

}


@media screen and (max-width: 420px) {
    .top-banner {
        background-size: cover;
        height: 8rem;
        padding: 0.25rem 1rem 0;
    }
    .top-banner div {
        height: auto;
        font-size: 1.25rem;
        line-height: 2.25rem;
    }
    .top-banner p {
        height: initial;
        line-height: 1.125rem;
        font-size: 0.875rem;
        margin-top: 0;
    }
    .top-banner span {
        width: 7rem;
        height: 2rem;
        margin-top: 0.5rem;
        font-size: 0.875rem;
        line-height: 2rem;
    }
    .zoology-reason {
        height: auto;
        padding: 0 1rem;
        padding-top: 1.5rem;
    }
    .zoology-reason h1 {
        font-size: 1.375rem;
        height: auto;
        line-height: initial;
    }
    .zoology-reason .zoology-result {
        height: initial;
        width: auto;
        font-size: 1rem;
        margin-top: 0.5rem;
        line-height: 1.75rem;
        padding: 0;
        text-align: left;
    }
    .zoology-reason ul {
        width: auto;
        height: initial;
        margin-top: 1rem;
    }
    .zoology-reason ul li {
        width: calc(50% - 0.5rem);
        height: auto;
        line-height: initial;
        margin: 0 1rem 1rem 0;
    }
    .zoology-reason ul li:nth-child(even) {
        margin-right: 0;
    }
    .zoology-reason ul li div {
        height: 5rem;
        line-height: initial;
    }
    .zoology-reason ul li div>img {
        width: 4rem;
        height: 4rem;
    }
    .zoology-reason ul li h3 {
        height: 2.5rem;
        line-height: 1.25rem;
        font-size: 1rem;
    }
    .zoology-reason ul li p {
        line-height: initial;
        margin-top: 0.25rem;
        font-size: 0.875rem;
    }
    .cooperation {
        height: initial;
        padding: 0 1rem;
        padding-top: 1rem;
    }
    .cooperation div {
        font-size: 1.375rem;
        height: auto;
        line-height: initial;
    }
    .cooperation p {
        height: initial;
        width: auto;
        font-size: 1rem;
        margin-top: 0.5rem;
        line-height: 1.375rem;
    }
    .cooperation ul {
        width: 100%;
        height: auto;
        margin-top: 0.5rem;
    }
    .cooperation ul li {
        width: 50%;
        height: 4rem;
        line-height: 4rem;
    }
    .cooperation ul li>img {
        width: 100%;
    }
    .recruit {
        width: 100%;
        height: initial;
        padding: 0 1rem;
        padding-top: 2rem;
    }
    .recruit h2 {
        font-size: 1.375rem;
        height: auto;
        line-height: initial;
    }
    .recruit .recruit-content {
        height: initial;
        width: auto;
        font-size: 1rem;
        margin-top: 0.5rem;
        line-height: 1.375rem;
    }
    .recruit ul {
        width: 100%;
        height: auto;
        margin-top: 1rem;
    }
    .recruit ul li {
        width: calc(50% - 0.5rem);
        height: 17rem;
        margin: 0 1rem 1rem 0;
    }
    .recruit ul li:nth-child(even) {
        margin-right: 0;
    }
    .recruit ul li div {
        height: 6rem;
        line-height: 6rem;
    }
    .recruit ul li div>img {
        width: 6rem;
        height: 4rem;
    }
    .recruit ul li h5 {
        height: 2rem;
        font-size: 1rem;
        line-height: 1.125rem;
        width: 100%;
        margin-top: 0.75rem;
        padding: 0 0.625rem;
        display: flex;
        align-items: center;
    }
    .recruit ul li p {
        width: 100%;
        margin-top: 0.5rem;
        font-size: 0.875rem;
        height: auto;
        line-height: 1.375rem;
        padding: 0 0.625rem;
    }
    .add {
        display: none;
    }
    .add-link {
        height: 13rem;
        padding: 1rem 1rem 0;
        background-size: cover;
    }
    .add-link h2 {
        font-size: 1.375rem;
        height: auto;
        line-height: initial;
    }
    .add-link p {
        height: auto;
        line-height: initial;
        font-size: 1rem;
        margin-top: 0.875rem;
    }
    .add-link a {
        padding: 0.6rem 3rem;
        height: auto;
        line-height: initial;
        width: auto;
        font-size: 1rem;
        display: inline-block;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 384px) {
    html {
        font-size: 93%;
    }
}

@media screen and (max-width: 320px) {
    html {
        font-size: 87.5%;
    }
    .recruit ul li {
        height: 18rem;
    }
}